In [166]:
import numpy as np
import pandas as pd
#series, arrays similars a numpy
#dataframe, matriz de arrays con indices
#en resumen, es util para tablas y manejo de datos estadisticos basicos

Serie = pd.Series(["a","b","c"],index = [1,6,345])
print(Serie) #se creo una serie de valores y un valor indexado util para llamarlos como un diccionario
#si creo otra lista sin index, los indexa de 0 a n elemento, tambien se puede como diccionario 
#[1:"a",2:"b"} #eso si, los dict son unidireccionales
Serie[0:2]#accede a ambos, series es solo para 1 dimension

#dataframe
dict ={"Cat A":["a","b","c"],"Cat B":[1,65,45],"Cat C":["val1","val2","val3"]}
Dt = pd.DataFrame(dict,index = ["ind1","ind2","ind3"])#el index son los titulos horizontales
print(Dt)
print(Dt.columns)#saca el index

1      a
6      b
345    c
dtype: object
     Cat A  Cat B Cat C
ind1     a      1  val1
ind2     b     65  val2
ind3     c     45  val3
Index(['Cat A', 'Cat B', 'Cat C'], dtype='object')

In [167]:
#poner tablas
#lee json, csv, excel, casi cualquier monda tabulada
Tabla = pd.read_csv("Dataset practica.csv")

In [168]:
#filtrado de datos, buscar en especifico, maneja comillas simples
#como numpy
print(Tabla['Name'])
print(Tabla.loc[0:3],['Name'])#muestra las filas del rango y la columna seleccionada
print("iloc")
print(Tabla.iloc[2,0:3])#busca por indices primera casilla, segunda las filas deseadas

0                          10-Day Green Smoothie Cleanse
1                                      11/22/63: A Novel
2                12 Rules for Life: An Antidote to Chaos
3                                 1984 (Signet Classics)
4      5,000 Awesome Facts (About Everything!) (Natio...
                             ...
545         Wrecking Ball (Diary of a Wimpy Kid Book 14)
546    You Are a Badass: How to Stop Doubting Your Gr...
547    You Are a Badass: How to Stop Doubting Your Gr...
548    You Are a Badass: How to Stop Doubting Your Gr...
549    You Are a Badass: How to Stop Doubting Your Gr...
Name: Name, Length: 550, dtype: object
                                      Name              Author  User Rating  \
0            10-Day Green Smoothie Cleanse            JJ Smith          4.7
1                        11/22/63: A Novel        Stephen King          4.6
2  12 Rules for Life: An Antidote to Chaos  Jordan B. Peterson          4.7
3                   1984 (Signet Classics)       George Orwell          4.7

   Reviews  Price  Year        Genre
0    17350      8  2016  Non Fiction
1     2052     22  2011      Fiction
2    18979     15  2018  Non Fiction
3    21424      6  2017      Fiction   ['Name']
iloc
Name           12 Rules for Life: An Antidote to Chaos
Author                              Jordan B. Peterson
User Rating                                        4.7
Name: 2, dtype: object

In [169]:
#agregar  eliminar
Tabla.drop('Price',axis=1,inplace = True)#borra de la salida, no edita datos sin el implace
print(Tabla)#borra la columna entera
#crear
Xd = np.arange(0,Tabla.shape[0])
Tabla['Nuevo'] = Xd
print(Tabla)

                                                  Name  \
0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
..                                                 ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)
546  You Are a Badass: How to Stop Doubting Your Gr...
547  You Are a Badass: How to Stop Doubting Your Gr...
548  You Are a Badass: How to Stop Doubting Your Gr...
549  You Are a Badass: How to Stop Doubting Your Gr...

                       Author  User Rating  Reviews  Year        Genre
0                    JJ Smith          4.7    17350  2016  Non Fiction
1                Stephen King          4.6     2052  2011      Fiction
2          Jordan B. Peterson          4.7    18979  2018  Non Fiction
3               George Orwell          4.7    21424  2017      Fiction
4    National Geographic Kids          4.8     7665  2019  Non Fiction
..                        ...          ...      ...   ...          ...
545               Jeff Kinney          4.9     9413  2019      Fiction
546               Jen Sincero          4.7    14331  2016  Non Fiction
547               Jen Sincero          4.7    14331  2017  Non Fiction
548               Jen Sincero          4.7    14331  2018  Non Fiction
549               Jen Sincero          4.7    14331  2019  Non Fiction

[550 rows x 6 columns]
                                                  Name  \
0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
..                                                 ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)
546  You Are a Badass: How to Stop Doubting Your Gr...
547  You Are a Badass: How to Stop Doubting Your Gr...
548  You Are a Badass: How to Stop Doubting Your Gr...
549  You Are a Badass: How to Stop Doubting Your Gr...

                       Author  User Rating  Reviews  Year        Genre  Nuevo
0                    JJ Smith          4.7    17350  2016  Non Fiction      0
1                Stephen King          4.6     2052  2011      Fiction      1
2          Jordan B. Peterson          4.7    18979  2018  Non Fiction      2
3               George Orwell          4.7    21424  2017      Fiction      3
4    National Geographic Kids          4.8     7665  2019  Non Fiction      4
..                        ...          ...      ...   ...          ...    ...
545               Jeff Kinney          4.9     9413  2019      Fiction    545
546               Jen Sincero          4.7    14331  2016  Non Fiction    546
547               Jen Sincero          4.7    14331  2017  Non Fiction    547
548               Jen Sincero          4.7    14331  2018  Non Fiction    548
549               Jen Sincero          4.7    14331  2019  Non Fiction    549

[550 rows x 7 columns]

In [170]:
#manejo de datos nulos
#nan es nulo, None igual
dicc = {'C1':[1,2,3,np.nan,None],'C2':[5,np.nan,np.nan,np.nan,5],'C3':['a','b','c','d','e']}
DF = pd.DataFrame(dicc)
print(DF)
print(DF.isnull())
print(DF.isnull()*1)
print(DF.fillna('relleno nulo'))#rellena con cualquier cosa
print(DF.interpolate())#rellena continnuando una serie telescopica
print(DF.dropna())#elimina espacion nulos, si hay 1 nulo elimina todo

    C1   C2 C3
0  1.0  5.0  a
1  2.0  NaN  b
2  3.0  NaN  c
3  NaN  NaN  d
4  NaN  5.0  e
      C1     C2     C3
0  False  False  False
1  False   True  False
2  False   True  False
3   True   True  False
4   True  False  False
   C1  C2  C3
0   0   0   0
1   0   1   0
2   0   1   0
3   1   1   0
4   1   0   0
             C1            C2 C3
0           1.0           5.0  a
1           2.0  relleno nulo  b
2           3.0  relleno nulo  c
3  relleno nulo  relleno nulo  d
4  relleno nulo           5.0  e
    C1   C2 C3
0  1.0  5.0  a
1  2.0  5.0  b
2  3.0  5.0  c
3  3.0  5.0  d
4  3.0  5.0  e
    C1   C2 C3
0  1.0  5.0  a

In [171]:
#filtrado
print(DF.head(2))#lee las dos primeras filas, tail las dos ultimas
print(DF['C1']<5)#compara cuando se cumple, nulo no es 0, es nulo

    C1   C2 C3
0  1.0  5.0  a
1  2.0  NaN  b
0     True
1     True
2     True
3    False
4    False
Name: C1, dtype: bool

In [172]:
print(DF.info())#bota informacion , tipo de dato , index, la info va por columnas
print(DF.describe()) # da info estadistica
print(DF.memory_usage(deep = True))#indica el uso de memoria , sin paretensis saca por dato, con deep, por columna
#print(DF[5].value_counts) cuenta valores}
print(DF.drop_duplicates())#elimina duplicados #si pongo keep no elimina todos
print(DF.sort_values('C2'))#ordena de acuerdo a un criterio

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C1      3 non-null      float64
 1   C2      2 non-null      float64
 2   C3      5 non-null      object
dtypes: float64(2), object(1)
memory usage: 248.0+ bytes
None
        C1   C2
count  3.0  2.0
mean   2.0  5.0
std    1.0  0.0
min    1.0  5.0
25%    1.5  5.0
50%    2.0  5.0
75%    2.5  5.0
max    3.0  5.0
Index    128
C1        40
C2        40
C3       290
dtype: int64
    C1   C2 C3
0  1.0  5.0  a
1  2.0  NaN  b
2  3.0  NaN  c
3  NaN  NaN  d
4  NaN  5.0  e
    C1   C2 C3
0  1.0  5.0  a
4  NaN  5.0  e
1  2.0  NaN  b
2  3.0  NaN  c
3  NaN  NaN  d

In [173]:
#groupby
print(Tabla.groupby('Author').count())#agrupa y aplica estadigrafo
print(Tabla.groupby('Author').describe())

                            Name  User Rating  Reviews  Year  Genre  Nuevo
Author
Abraham Verghese               2            2        2     2      2      2
Adam Gasiewski                 1            1        1     1      1      1
Adam Mansbach                  1            1        1     1      1      1
Adir Levy                      1            1        1     1      1      1
Admiral William H. McRaven     1            1        1     1      1      1
...                          ...          ...      ...   ...    ...    ...
Walter Isaacson                3            3        3     3      3      3
William Davis                  2            2        2     2      2      2
William P. Young               2            2        2     2      2      2
Wizards RPG Team               3            3        3     3      3      3
Zhi Gang Sha                   2            2        2     2      2      2

[248 rows x 6 columns]
                           User Rating                                      \
                                 count      mean       std  min   25%  50%
Author
Abraham Verghese                   2.0  4.600000  0.000000  4.6  4.60  4.6
Adam Gasiewski                     1.0  4.400000       NaN  4.4  4.40  4.4
Adam Mansbach                      1.0  4.800000       NaN  4.8  4.80  4.8
Adir Levy                          1.0  4.800000       NaN  4.8  4.80  4.8
Admiral William H. McRaven         1.0  4.700000       NaN  4.7  4.70  4.7
...                                ...       ...       ...  ...   ...  ...
Walter Isaacson                    3.0  4.566667  0.057735  4.5  4.55  4.6
William Davis                      2.0  4.400000  0.000000  4.4  4.40  4.4
William P. Young                   2.0  4.600000  0.000000  4.6  4.60  4.6
Wizards RPG Team                   3.0  4.800000  0.000000  4.8  4.80  4.8
Zhi Gang Sha                       2.0  4.600000  0.000000  4.6  4.60  4.6

                                     Reviews                ...     Year  \
                            75%  max   count          mean  ...      75%
Author                                                      ...
Abraham Verghese            4.6  4.6     2.0   4866.000000  ...  2010.75
Adam Gasiewski              4.4  4.4     1.0   3113.000000  ...  2017.00
Adam Mansbach               4.8  4.8     1.0   9568.000000  ...  2011.00
Adir Levy                   4.8  4.8     1.0   8170.000000  ...  2019.00
Admiral William H. McRaven  4.7  4.7     1.0  10199.000000  ...  2017.00
...                         ...  ...     ...           ...  ...      ...
Walter Isaacson             4.6  4.6     3.0   6222.666667  ...  2014.50
William Davis               4.4  4.4     2.0   7497.000000  ...  2012.75
William P. Young            4.6  4.6     2.0  19720.000000  ...  2015.00
Wizards RPG Team            4.8  4.8     3.0  16990.000000  ...  2018.50
Zhi Gang Sha                4.6  4.6     2.0    128.500000  ...  2012.00

                                   Nuevo                                 \
                               max count        mean         std    min
Author
Abraham Verghese            2011.0   2.0   56.500000    0.707107   56.0
Adam Gasiewski              2017.0   1.0  232.000000         NaN  232.0
Adam Mansbach               2011.0   1.0  133.000000         NaN  133.0
Adir Levy                   2019.0   1.0  529.000000         NaN  529.0
Admiral William H. McRaven  2017.0   1.0  227.000000         NaN  227.0
...                            ...   ...         ...         ...    ...
Walter Isaacson             2017.0   3.0  272.333333   50.520623  214.0
William Davis               2013.0   2.0  531.500000    0.707107  531.0
William P. Young            2017.0   2.0  459.500000    0.707107  459.0
Wizards RPG Team            2019.0   3.0  266.000000    1.000000  265.0
Zhi Gang Sha                2013.0   2.0  189.000000  156.977705   78.0


                               25%    50%     75%    max
Author
Abraham Verghese             56.25   56.5   56.75   57.0
Adam Gasiewski              232.00  232.0  232.00  232.0
Adam Mansbach               133.00  133.0  133.00  133.0
Adir Levy                   529.00  529.0  529.00  529.0
Admiral William H. McRaven  227.00  227.0  227.00  227.0
...                            ...    ...     ...    ...
Walter Isaacson             257.50  301.0  301.50  302.0
William Davis               531.25  531.5  531.75  532.0
William P. Young            459.25  459.5  459.75  460.0
Wizards RPG Team            265.50  266.0  266.50  267.0
Zhi Gang Sha                133.50  189.0  244.50  300.0

[248 rows x 32 columns]

In [ ]:
#es posible operar los DF como conjuntos
#pd.concat(Df1,Df2),ignore_index = True    para ignorar indices duplicados a√±adir lo ultimo
#tambien esta merge, join
#Df1.join(df2),condicion de filtrado